<mat-toolbar class="mat-elevation-z16">
    <span><strong>Customer dashboard</strong></span>
    <span class="example-spacer"></span>
    <button  mat-raised-button color="primary" routerLink="/customers" class="example-icon favorite-icon" >
     Customer <mat-icon >person</mat-icon>
    </button>
    <button   color="primary" routerLink="/transaction" mat-raised-button >
        Transactions <mat-icon> attach_money</mat-icon> 
    </button>
    <button  color="primary" routerLink="/chart" mat-raised-button >
       Charts <mat-icon> bar_chart</mat-icon> 
    </button>
  </mat-toolbar>
  